@charset "utf-8";
/*
   Author:Zhiping Yu 
   Student#:000822513
   Date:2020/01/24
   Filename: resume.css

*/

/* HTML and Body Styles */
	
	


/* Heading Styles */
	h2{
		font-size:1.5em;
		color:purple;
		background-color:yellow;
		text-align:center;
	}
	
	
/* Aside and Blockquote Styles */

	



/* Navigation Styles */	

   
 
		


/* List Styles */
	
	





/* Footer Styles */
	 
	
	

